.picture {
  display: flex;
  &__body {
    height: 100vh;
    width: 40vw;
  }

  &__header {
    display: flex;
  }

  &__description {
    font-size: 2.5rem;
    text-transform: capitalize;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  &__price {
    color: red;
    font-size: 1.5rem;
  }

  &__check {
    padding: 3rem;
  }

  &__sale {
    color: lightslategray;
    text-decoration: line-through;
  }

  &__section--btn {
    display: flex;
    align-items: center;
  }

}

.sale {
  color: red;
  font-size: 1.5rem;
  margin-left: 1rem
}

.params {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.recommendation {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin: 5rem;
}
