
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  max-width: max-content;

  &__link {
    text-decoration: none;
  }

  &__body {
    margin: 0 2rem;
    display: flex;
    //align-items: center;
    justify-content: space-between;

  }

  &__price {
    color: black;
  }

  &__description {
    color: black;
    font-size: 1.5rem;
  }

  &__picture {
    max-width: 18rem;
    max-height: 40rem;
    border-radius: 1rem;

  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn--size {
    border: none;
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0.1rem;

    &:focus {
      background-color: black;
      color: white;
    }

  }

  &__button--btn {
    background-color: black;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 1rem;

    &:active {
      background-color: white;
      color: black;
    }
  }

  &__price {
    font-size: 1.5rem;
  }

}




