.king {
  position: relative;
  margin: 0 10rem

}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2rem;
}

.basket__btn {
  position: relative;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.countZero {
  position: absolute;
  top: -10px;
  right: 4px;
  display: none;
}

.countOne {
  position: absolute;
  width: 18px;
  top: -6px;
  font-weight: bold;
  right: -5px;
  border: solid 1px;
  font-size: 15px;
  color: white;
  padding: 1px;
  background-color: #00ca8d;
  border-radius: 3.5rem;
}

.basket__img {
  width: 1.5rem;
  height: 1.5rem;
}

.btnHeader {
  border: none;
  color: black;

  &__human {
    color: black;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
  }

  &__barishka {
    color: black;
    text-align: center;
    font-size: 3.2rem;
    margin-right: 10rem;
  }

  &__basket {
    color: black;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
  }
}



