.king {
  margin: 0 10rem
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.btnHeader {
  border: none;
  color: black;

  &__human {
    color: black;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
  }

  &__barishka {
    color: black;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 3.2rem;
    margin-right: 10rem;
  }

  &__basket {
    color: black;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
  }
}



