.headers {
  font-size: 1rem;
}

.human {
  display: flex;
  position: relative;

  .girl {
    height: 100vh;
    width: 50vw;

    &__p {
      position: absolute;
      top: 25%;
      left: 10%;
      font-size: 5rem;
      color: white;
      transform: rotate(90deg);
      width: 20rem;
    }
  }

  .man {
    height: 100vh;
    width: 50vw;

    &__p {
      position: absolute;
      top: 25%;
      right: 10%;
      font-size: 5rem;
      color: white;
      transform: rotate(90deg);
      width: 20rem;
    }
  }
}
