.cardBasket {

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }

  &__picture {
    max-width: 50%;
    margin-top: 1rem;
  }

  &__price {
    font-weight: bold;
  }

  &__btn {
    background-color: white;
    padding: 0.5rem;
    border: none;
    font-size: 1.5rem;
  }
}